- title 'Sam and Jamie\'s Wedding'

%fieldset.place-order
  %h2 Please Place Your Order
  %p * All orders must be placed by July 10th. If you do not, your lunch will be picked for you.
= form_for @order do |f|
  - if @order.errors.any?
    .error_messages
      %h3#errors Warning, some errors were found!
      - @order.errors.each do |field, msg|
        %h4= msg
  .hidden
    = f.text_field :type
  #orders-fields
    = f.fields_for :people do |builder|
      = render 'person_fields', f: builder
  %fieldset
    .order-container
      = link_to_add_fields "Add Another Person <i class='icon-plus-sign'></i>".html_safe, f, :people, 'btn'
  %fieldset
    .order-container
      = f.label :password, 'Password'
      %br
      = f.password_field :password,  class: 'name-box'
  .actions
    .done.btn
      = f.submit "Save Your Selections ", class: 'btn-reset'
- content_for :javascripts do
  :javascript
    $.backstretch("/assets/background.jpg");
