- title 'Sam and Jamie\'s Wedding'

%fieldset.place-order
  %h2 Place Your Order
= form_for @order do |f|
  - if @order.errors.any?
    .error_messages
      - @order.errors.each do |field, msg|
        %h4= msg
  .hidden
    = f.text_field :type
  #orders-fields
    = f.fields_for :people do |builder|
      = render 'person_fields', f: builder
  %fieldset
    .order-container
      = link_to_add_fields "Add Another Person", f, :people, 'btn'
  %fieldset
    .order-container
      = f.label :password, 'Password'
      %br
      = f.password_field :password,  class: 'name-box'
  .actions
    = f.submit 'Save Your Selections', class: :btn
